@model QuizApplication.Models.Question

<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

    <title>The Quiz Game</title>
</head>
<body>

    <h1>Create new question</h1>
       
    <form method="POST" action="~/question">

        <label>Question</label><br>
        <input type="text" name="question" placeholder = "Question..."><br>
        <label>Answers</label><br>
        <input type="text" name="answer1" placeholder = "Answer1..."><br>
        <input type="text" name="answer2" placeholder = "Answer2..."><br>
        <input type="text" name="answer3" placeholder = "Answer3..."><br>
        <input type="text" name="answer4" placeholder = "Answer4..."><br>
        <label for="correct">Correct Answer</label>

            <select name="correct" id="correct">
              <option value="1">Answer1</option>
              <option value="2">Answer2</option>
              <option value="3">Answer3</option>
              <option value="4">Answer4</option>
            </select>

        <button type="submit">Submit</button>

    </form>  

</body>
</html>
