<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

    <title>Draxs Calorie Table</title>
</head>
<body>
       
    <h1>Draxs Calorie Table</h1>

    <button type="submit"><a href= "~/">HOME</a></button>

    <button type="submit"><a href= "~/drax">BACK</a></button>

    <form method="POST" action="drax/add">

        <label>New name</label><br>
        <input type="text" name="name" placeholder = "Food name..."><br>
        <input type="text" name="amount" placeholder = "Amount..."><br>
        <input type="text" name="calorie" placeholder = "Calorie..."><br>
        <button type="submit">Submit</button>

        <a href= "~/assignee">Cancel</a>
    </form>

</body>
</html>

<style>

    body{
        font-family: 'Montserrat', sans-serif;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }

    td{
        
        border: thin solid green;
        padding-left: 5px;
    }

    th{
        
        font-size:105%;
    }

    table{
        border-collapse: collapse;
        width: 100%;
    }

    .link{
        border: none;
    }

    button{
        border-radius: 5px;
    }

    input{
        border-radius: 5px;
    }

</style>
